body {
    text-align: center;
    background-color: steelblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0px;
}


header {
    padding: 40px;
    background-color: darkslategray;
}


aside {
    position: absolute;
    background-color: rgba(0, 191, 255, 0.644);
    bottom: 70px;
    width: 100%;
    height: 35px;
}


section {
    display: inline-block;
    right: 0px;
}


footer {
    position: absolute;
    background-color: deepskyblue;
    bottom: 0px;
    width: 100%;
    height: 70px;
}


header li {
    display: inline;
    padding-left: 35px ;
    font-size: 30px;
}


header ul a {
    color: black;
    text-decoration: none;
}

header nav {
    position: absolute;
    top: 4px;
    left: 300px;
}


aside p {
    display: inline;
}

footer a {
    display: inline-block;
    margin-top: 23px;
}


.news p {
    display: inline;
}


#login {
    position: absolute;
    left: 650px;
    top: 6.5px;
}

/* 
button {
    position: absolute;

} */